<div class="theme-layer theme-christmas" aria-hidden="true">
  <div class="christmas-garland">
    <span class="bulb"></span>
    <span class="bulb"></span>
    <span class="bulb"></span>
    <span class="bulb"></span>
    <span class="bulb"></span>
    <span class="bulb"></span>
    <span class="bulb"></span>
    <span class="bulb"></span>
    <span class="bulb"></span>
    <span class="bulb"></span>
  </div>
  <div class="christmas-ornament left"></div>
  <div class="christmas-ornament right"></div>
  <div class="christmas-snow"></div>
</div>
